body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
h1{
    color:rgb(230, 195, 153)
    background-color:antiquewhite;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style:italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 0px red;
    color: blue;
}
